.button {
    min-width: 220px;
    padding: 12px 20px;
    border: 3px solid transparent;
    font-size: 20px;   
    font-weight: bold;
    color: white;    
    cursor: pointer;
    transition: .3s;
}

.button--sm {
    padding: 8px 16px;
    min-width: 160px;
    font-size: 16px;
}

.button--blue { background-color: $blue; }
.button--green { background-color: $green; }
.button--darkblue { background-color: $blue--dark; }
.button--violet { background-color: $violet; }
.button--red { background-color: $red; }

.button--bordered {
    border: 3px solid $blue;
    background-color: white;
    color: $blue;
}

.button--bordered:hover {
    background-color: $blue;
    color: $white;
    transition: .3s;
}

.button--onlytext {
    min-width: auto;
    padding: 0;
    background-color: transparent;
    color: $gray;
}

.button--onlytext:hover {
    color: $blue--dark;
    transition: .3s;
}